@import url("../dist-css/core/index.css");
@import url("../dist-css/plugins/index.css");

:root {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
		helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
		sans-serif;
}

:root {
	--leantable--column--gap: 10px;
	--leantable--header--background: white;
	--leantable--header--padding-block: 10px;
	--leantable--header--text-align: left;
	--leantable--row--background: white;
	--leantable--row--border: 1px solid #eeeef1;
	--leantable--row--hover--background: #e9f5f9;
	--leantable--row--height: 40px;
}

body {
	margin: 0;
}

.panel {
	height: calc(100vh - 2em);
	overflow: auto;
	margin: 1em;
	max-width: max-content;
}

.align-right {
	justify-content: flex-end;
	text-align: right;
}
